/* Contenedor principal del detalle del emprendimiento */
.detalle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: #22223B;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  max-width: 100%;
  height: auto; /* Ajuste automático de altura */
}

h4, p {
  color: antiquewhite;
}

.correo {
  color: rgb(225, 32, 11);
}

/* Contenedor de la imagen */
.detalle-image-container {
  flex: 0 0 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 250px;
  overflow: hidden;
  padding-right: 16px;
}

.detalle-image {
  width: 100%;
  height: auto;
  max-height: 370px;
  object-fit: contain;
  border-radius: 8px;
}

/* Contenedor del contenido */
.detalle-content {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFCF2;
  text-align: left;
  padding-left: 16px;
  height: auto;
}

/* Título del emprendimiento */
.detalle-title {
  font-size: 2rem;
  margin-bottom: 8px;
  font-weight: bold;
  color: #FFFCF2;
}

/* Categoría */
.detalle-category {
  font-size: 1.2rem;
  color: #f27171;
  margin-bottom: 16px;
  font-weight: bold;
}

/* Descripción */
.detalle-description {
  font-size: 1rem;
  color: #FFFCF2;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: left;
  word-wrap: break-word;
  max-height: 150px;
  overflow-y: auto; /* Agregar scroll si el texto es muy largo */
}

/* Contacto */
.detalle-contact {
  font-size: 1rem;
  color: #FFFCF2;
  margin-top: auto;
  line-height: 1.5;
}

/* Botón "Volver" */
.btn-volver {
  padding: 8px 16px;
  background-color: #FB5012;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 16px;
}

.btn-volver:hover {
  background-color: #22223B;
}

/* Responsivo para dispositivos más pequeños */
@media (max-width: 1024px) {
  .detalle-container {
    flex-direction: column;
    align-items: center; /* Centrar contenido */
    text-align: center;
  }

  .detalle-image-container, .detalle-content {
    flex: 0 0 100%; /* Ocupan el ancho completo */
    margin-bottom: 16px;
  }

  .detalle-content {
    padding-left: 0;
  }

  .detalle-description {
    font-size: 0.9rem;
    max-height: 120px;
  }
}

@media (max-width: 768px) {
  .detalle-title {
    font-size: 1.6rem;
  }

  .detalle-category {
    font-size: 1rem;
  }

  .detalle-description {
    font-size: 0.8rem;
    line-height: 1.4;
  }

  .btn-volver {
    font-size: 0.9rem;
  }
}
