/* Contenedor principal del formulario */
.registro-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 500px; /* Máximo ancho en pantallas grandes */
  margin: 50px auto; /* Centrado horizontal y margen superior/inferior */
  padding: 20px;
  background-color: #FFFCF2; /* Blanco cremoso para el fondo */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}
.error-message {
  color: #dc3545;
  font-size: 0.9em;
}

/* Título */
h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #22223B; /* Gris oscuro para el título */
  font-size: 2rem;
  font-weight: bold;
}

/* Contenedor de los campos del formulario */
.form-group {
  margin-bottom: 15px;
  width: 100%; /* Mantiene proporción del formulario */
}

/* Etiquetas */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #22223B; /* Gris oscuro para las etiquetas */

}

/* Estilo de los inputs y selects */
input, select {
  width: 100%; /* Ocupan todo el ancho del contenedor */
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #666A83; /* Gris claro para el borde */
  background-color: #ffffff; /* Blanco para los inputs */
  color: #333; /* Gris oscuro para el texto */
}

input:focus, select:focus {
  outline: none;
  border-color: #FB5012; /* Naranja para el foco */
  box-shadow: 0 0 5px rgba(251, 80, 18, 0.3); /* Sombra naranja para foco */
}

/* Mensajes de error */
.error {
  color: #f44336; /* Rojo para los errores */
  font-size: 12px;
}

/* Estilo del botón */
button {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  background-color: #FB5012; /* Naranja para el fondo */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #22223B; /* Gris oscuro para el hover */
}

button:disabled {
  background-color: #ea9b70;
  cursor: not-allowed;
}

/* Responsividad para pantallas medianas */
@media (max-width: 1024px) {
  .registro-container {
    max-width: 400px; /* Reduce el tamaño proporcionalmente */
  }

  h2 {
    font-size: 1.8rem; /* Ajusta el tamaño del título */
    margin-bottom: 30px;
  }

  input, select {
    font-size: 15px;
    padding: 10px; /* Reduce el padding */
  }

  button {
    font-size: 15px;
    padding: 12px;
  }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
  .registro-container {
    max-width: 300px; /* Reduce aún más el tamaño */
    padding: 15px; /* Ajusta el padding */
  }

  h2 {
    font-size: 1.6rem; /* Reduce el tamaño del título */
    margin-bottom: 20px;
  }

  input, select {
    font-size: 14px;
    padding: 8px; /* Reduce el padding */
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}
