<div class="comment-section">
  <h3 class="comment-title">Comentarios</h3>

  <!-- Mostrar comentarios -->
  <div *ngFor="let comment of comments" class="comment-container">
    <div class="comment">
      <p><strong>{{ comment.author_name }}</strong>: {{ comment.text }}</p>
      <div class="comment-buttons">
        <button (click)="editComment(comment)">Editar</button>
        <button (click)="deleteComment(comment.id)">Eliminar</button>
      </div>
    </div>
  </div>

  <!-- Formulario para agregar un comentario -->
  <div class="new-comment-form">
    <form *ngIf="!editingComment" (ngSubmit)="createComment()">
      <textarea [(ngModel)]="newComment.text" name="text" placeholder="Escribe tu comentario" required></textarea>
      <button type="submit">Agregar Comentario</button>
    </form>

    <!-- Formulario para editar un comentario -->
    <form *ngIf="editingComment" (ngSubmit)="saveComment()">
      <textarea [(ngModel)]="editingComment.text" name="text" required></textarea>
      <div class="edit-buttons">
        <button type="submit">Actualizar Comentario</button>
        <button type="button" class="cancel" (click)="editingComment = null">Cancelar</button>
      </div>
    </form>
  </div>
</div>
